.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}

.title {
    font-family: "Reforma";
    font-size: 150px;
    font-weight: 700;
    color: #DB3138;
    line-height: 125%;
    font-style: normal;
}


.body {
    max-width: 437px;
    font-family: "Reforma";
    font-weight: 500;
    font-size: 40px;
    color : #FFFFFF;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    
}


.decorationContainer{
   
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    
    
}

/* .square {
    width: 10px;
    height: 10px;
    background-color: #DB3138;
    transform: rotate(-45deg);
}
 */

.square {
    position: relative;
    transform: rotate(-45deg);
    
    
}


.square::before {
    content: "";
    display: block;
    background-color: #DB3138;
    width: 10px;
    height: 10px;
    margin-right: 22px; /* Применение margin-right */
    
  }


  .serviceBtnContainer{
    
    padding: 15px;
    
  }


  .serviceBtn{
    margin-top: 40px;
    max-width: 144px;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    padding : 15px 25px 15px 25px;
    text-transform: uppercase;
    color : #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.05em;
    
}


.serviceBtn::before {
    position: absolute;
    content: '';
    background-color: #DB3138;
    width: 50%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transition: all linear 0.1s;
}


.serviceBtn:hover::before {
    width: 100%;
}







  @media (max-width: 800px) {
    .title {
      font-size : 80px
    }


    .body {
      font-size : 30px
    }
  }


  @media (max-width : 600px) , (max-height : 800px) {
    .title {
      font-size : 60px
    }

    .body {
      font-size : 25px
    }

    .serviceBtn {
      padding : 15px 15px 15px 15px;
      font-size: 20px;
    }
  }



  @media (max-height : 720px) {
    .container {
      margin-top: 70px;
    }
  }



  @media (max-height : 900px) {
    .container {
      margin-top: 60px;
    }
  }