.container {
    
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    
    
}

.cardContainer {
    position: relative;
    flex : 1;
    height: 150px;
    border: 1px solid #898989;
    align-items: center;
    text-align: center;

}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 22px;
    color : #FFFFFF;
    text-transform: uppercase;
    
}


.description {
    
    margin-top: 10px;
    color: #DB3138;
    font-size: 25px;
    text-transform: uppercase;
    
}




