
.header {
    position: relative;
    height: 100vh;
    
    
}

.header::before {
    content: "";
    position: absolute;
    background-image: url('../../../public/static/img/background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}


.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
   



.container {
    max-width: 1296px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 20px;
}

.section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.link {
text-decoration: none;
margin-right: 40px;
color : white;
font-family: "Reforma";
font-size: 24px;
}



.burger {
    position: relative;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 20px;
    
}








.line {
    display: block;
    background-color: #DB3138;
    width:  40px;
    height: 3px;
}


.line:nth-child(2n-1) {
    margin-left: auto;
}


.close {
    display: none;
}





@media (max-width : 800px) {

    
    .header__nav.open .links {
        display: flex;
        position: absolute;
        z-index: 10;
        left: 0;
        top : 0;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;
        background-color: #898989;
        
        
        
        
    }

    .header__nav.open .links a {
        font-size: 30px;
        color : #FFFFFF
    }

    .links {
        display: none;
        
    }

    .burger {
        opacity: 1;
        z-index: 100;
    }
}


