.container {

    max-width: 1112px;
    margin: 0 auto;
}


.container::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../public/static/img/background.png');
    background-size: cover;
    height: 100vh;
    z-index: -1;
   
   
    
}